{{#partial "page"}}

{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

<main class="page">
    <section class="page-content page-content--centered">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 offset-lg-1">
            <h1 class="page-heading mt-5 h2">{{lang 'page_not_found.page_heading'}}</h1>
            <p class="u-textAlignCenter">
                {{lang 'page_not_found.message'}}
            </p>

            {{> components/common/search-box}}
          </div>
        </div>
      </div>
    </section>
</main>

{{/partial}}
{{> layout/base}}
