<article class="blog post-template">
  <div class="blog-post-body">
      <div class="blog-post">
          {{#if post.body}}
              <header class="blog-header text-center pt-120 pb-120">
                <p class="blog-date red mb-2 b text-center">{{#if post.author}}{{lang 'blog.posted_by' name=post.author}} on {{/if}}{{post.date_published}}</p>
                <h1 class="mb-3">{{post.title}}</h1>
              </header>
              {{{post.body}}}
          {{else}}
              <header class="blog-header">
                <p class="eleven red mb-1 b-black tu">{{#if post.author}}{{lang 'blog.posted_by' name=post.author}} on {{/if}}{{post.date_published}}</p>
                <a href="{{url}}"><h3 class="mb-3 reg">{{post.title}}</h3></a>
              </header>
              {{{post.summary}}}
              {{#if post.show_read_more}}
                  &hellip; <a href="{{url}}">read more</a>
              {{/if}}
              <hr class="r-two">
          {{/if}}
      </div>

      {{#if show_tags}}
          {{#if post.tags}}
              <ul class="tags">
                  {{#each post.tags}}
                  <li class="tag">
                      <a href="{{url}}">#{{name}}</a>
                  </li>
                  {{/each}}
              </ul>
          {{/if}}
      {{/if}}

      {{>components/common/share}}
  </div>
</article>
