---
blog:
    recent_posts:
        limit: 3
---
{{#partial "page"}}

<main class="page container">
    {{#unless theme_settings.hide_page_heading }}
        <h1 class="page-heading">{{ page.title }}</h1>
    {{/unless}}
    <h1 class="page-heading"></h1>

    {{#if page.sub_pages}}
    <nav class="navBar navBar--sub">
        <ul class="navBar-section account-navigation">
        {{#each page.sub_pages}}
            <li class="navBar-item"><a class="navBar-action" href="{{url}}">{{title}}</a></li>
        {{/each}}
        </ul>
    </nav>
    {{/if}}

    {{#replace '%%Syndicate%%' page.content}}
            {{> components/page/rss_feed}}
        {{else}}
            {{{page.content}}}
        {{/replace}}

    {{#if page.feed}}
        <ul>
            {{#each page.feed}}
                <li>
                    <h6><a href="{{url}}" target="_blank">{{title}}</a></h6>
                    <p>{{content}}</p>
                </li>
            {{/each}}
        </ul>
    {{/if}}
</main>
{{#if page.title '===' 'About Us'}}
    <div class="latest-news pt-120 pb-120">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 offset-lg-2">
            <h2 class="text-center">Latest News</h2>
            <div class="news">
              {{#each blog.recent_posts}}
              <div class="news-item">
                <p class="eleven red mb-1 b-black tu">{{date_published}}</p>
                <a href="{{url}}"><h3 class="mb-3 reg">{{title}}</h3></a>
              </div>
              {{/each}}
            </div>
            <div class="text-center">
              <a href="/news/wholesale-medical-supplies/" class="button button--primary button--large mt-4">See All News</a>
            </div>
          </div>
        </div>
      </div>
    </div>
{{/if}}

{{/partial}}

{{> layout/base}}
