<article class="card {{#if alternate}}card--alternate{{/if}}" {{#if settings.data_tag_enabled}} data-event-type="{{event}}" data-entity-id="{{id}}" data-position="{{position}}" data-name="{{name}}" data-product-category="{{#each category}}{{#if @last}}{{this}}{{else}}{{this}}, {{/if}}{{/each}}" data-product-brand="{{brand.name}}" data-product-price="{{#if price.with_tax}}{{price.with_tax.value}}{{else}}{{price.without_tax.value}}{{/if}}"  {{/if}}>
  <div class="row d-flex align-items-center">
    <div class="col-lg-2">
      <figure class="card-figure">
          {{#or price.non_sale_price_with_tax price.non_sale_price_without_tax}}
              {{#if theme_settings.product_sale_badges '===' 'sash'}}
                  <div class="sale-flag-sash">
                      <span class="sale-text">On Sale!</span>
                  </div>
              {{else if theme_settings.product_sale_badges '===' 'topleft'}}
                  <div class="sale-flag-side">
                      <span class="sale-text">On Sale!</span>
                  </div>
              {{else if theme_settings.product_sale_badges '===' 'burst'}}
                  <div class="starwrap">
                      <div class="sale-text-burst">On Sale!</div>
                      <div class="sale-flag-star"></div>
                  </div>
              {{/if}}
          {{/or}}
          <a href="{{url}}" {{#if settings.data_tag_enabled}} data-event-type="product-click" {{/if}}>
              <div class="card-img-container d-flex justify-content-center align-items-center">
                  {{> components/common/responsive-img
                      image=image
                      class="card-image"
                      fallback_size=theme_settings.productgallery_size
                      lazyload=theme_settings.lazyload_mode
                      default_image=theme_settings.default_image_product
                  }}
              </div>
          </a>

          <figcaption class="card-figcaption">
              <div class="card-figcaption-body">
                  {{#unless hide_product_quick_view}}
                      {{#if theme_settings.show_product_quick_view}}
                          {{#if settings.data_tag_enabled}}
                              <a class="button button--small card-figcaption-button quickview" data-event-type="product-click" data-product-id="{{id}}">{{lang 'products.quick_view'}}</a>
                          {{else}}
                              <a class="button button--small card-figcaption-button quickview" data-product-id="{{id}}">{{lang 'products.quick_view'}}</a>
                          {{/if}}
                      {{/if}}
                  {{/unless}}
                  {{#if show_compare}}
                      <label class="button button--small card-figcaption-button" for="compare-{{id}}">
                          {{lang 'products.compare'}} <input type="checkbox" name="products[]" value="{{id}}" id="compare-{{id}}" data-compare-id="{{id}}">
                      </label>
                  {{/if}}
                  {{#or customer (if theme_settings.restrict_to_login '!==' true)}}
                      {{#if show_cart_action}}
                          {{#if has_options}}
                              <a href="{{url}}" data-event-type="product-click" class="button button--small card-figcaption-button" data-product-id="{{id}}">{{lang 'products.choose_options'}}</a>
                          {{/if}}
                          {{#if pre_order}}
                              <a href="{{pre_order_add_to_cart_url}}" data-event-type="product-click" class="button button--small card-figcaption-button">{{lang 'products.pre_order'}}</a>
                          {{/if}}
                          {{#if add_to_cart_url }}

                          {{/if}}
                          {{#if out_of_stock_message }}
                              <a href="{{url}}" data-event-type="product-click" class="button button--small card-figcaption-button" data-product-id="{{id}}">{{out_of_stock_message}}</a>
                          {{/if}}
                      {{/if}}
                  {{/or}}
              </div>
          </figcaption>
      </figure>
    </div>
    <div class="col-lg-7">
      <div class="card-body">
          {{#and rating show_rating}}
              <p class="card-text" data-test-info-type="productRating">
                  <span class="rating--small">
                      {{> components/products/ratings rating=rating}}
                  </span>
              </p>
          {{/and}}

          <p class="card-text sm sku" data-test-info-type="brandName">{{#if sku}}Item Number: {{sku}}{{/if}}{{#if brand.name}} | {{brand.name}}{{/if}}</p>
          <h4 class="card-title mb-2">
              {{#if customer}}
              <a href="{{url}}">{{name}}</a>
              {{else}}
              <a href="{{url}}" {{#if settings.data_tag_enabled}} data-event-type="product-click" {{/if}}>{{name}}</a>
              {{/if}}
          </h4>
          {{#if customer}}
          {{!-- <p class="mb-2">{{#if price.with_tax}}${{price.with_tax.value}}{{else}}${{price.without_tax.value}}{{/if}}</p> --}}
          <p class="mb-2">
            {{> components/four13/price product_sku=sku}}
          </p>
          {{else}}
          {{/if}}
          <div class="custom-fields">
              {{#filter custom_fields 'NDC Number' property='name' }}
                <p class="card-text sm sku"><span class="name">{{name}}: </span><span class="value">{{{value}}}</span></p>
              {{/filter}}
              {{#filter custom_fields 'Manufacturer Number' property='name' }}
                <p class="card-text sm sku"><span class="name">{{name}}: </span><span class="value">{{{value}}}</span></p>
              {{/filter}}
              {{#filter custom_fields 'HCPCS Code' property='name' }}
                <p class="card-text sm sku"><span class="name">{{name}}: </span><span class="value">{{{value}}}</span></p>
              {{/filter}}
          </div>
      </div>
    </div>
    <div class="col-lg-3">
        {{#if customer}}
        <!-- advqty start -->
                  {{#or customer (if theme_settings.restrict_to_login '!==' true)}}
                  {{#if show_cart_action}}

                      {{#if add_to_cart_url }}
                      <div class="card-cart-action form-increment" advqty-card-actions>
                          <button class="button button--icon" data-action="dec" type="button">
                              <span class="is-srOnly">{{lang 'products.quantity_decrease'}}</span>
                              <i class="icon" aria-hidden="true">
                                  <svg>
                                      <use xlink:href="#icon-keyboard-arrow-down"/>
                                  </svg>
                              </i>
                          </button>
                          <input class="form-input form-input--incrementTotal"

                                 type="tel"
                                 value="1"
                                 min="1"
                                 pattern="[0-9]*"
                                 aria-live="polite"
                                 autocomplete="off"
                                 advqty-card-input
                                 data-advqty-sku="{{sku}}">
                          <button class="button button--icon" data-action="inc" type="button">
                              <span class="is-srOnly">{{lang 'products.quantity_increase'}}</span>
                              <i class="icon" aria-hidden="true">
                                  <svg>
                                      <use xlink:href="#icon-keyboard-arrow-up"/>
                                  </svg>
                              </i>
                          </button>

                          <button type="button" advqty-card-addToCart class="button button--small button--primary cart-button" data-href="{{add_to_cart_url}}" data-product-id="{{id}}"></button>

                          <div class="advqty-loading-overlay-blank" data-advqty-increment-overlay></div>
                      </div>
                      {{/if}}

                  {{/if}}
              {{/or}}
              <!-- advqty end -->
            {{#if add_to_cart_url }}
                              <a href="{{add_to_cart_url}}" data-event-type="product-click" class="button button--primary button-sm-radius button--large w-100 button-login-to-order" style="display: none" data-custom-add-to-cart-sku="{{sku}}" disabled data-custom-add-to-cart>{{lang 'products.add_to_cart'}}</a>
                          {{/if}}
        {{else}}
            <a class="button button--primary button-sm-radius button--large w-100 button-login-to-order" href="/login.php">Login to Order</a>
        {{/if}}
    </div>
  </div>
</article>
